Create Account
<form method = "get" action = "/create">
  <!--<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />-->
  ID : <input type = "text" name = "title"/>
  PASSWORD : <input type = "password" name = "content"/>
  <input type = "submit"/>
  <br/>
  <a href='/sign_in'>Go Back to Sign In Page! </a>
</form>
