Sign in Page!
<form method = "get" >
  <!--<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />-->
  ID : <input type = "text" name = "title"/>
  PASSWORD : <input type = "password" name = "content"/>
  <input type = "submit"/><br/>
  <a href='/index'> Go to make new account! </a>
</form>
